---
description: ""
---

<div class="banner" id="banner">
  <span></span>
</div>

<div class="page">
  <div class="sidebar">
    <a class="sidebarLogo" href="/">
      <h1>Wikiflix</h1>
    </a>
    <h3>Wikiflix grabs a random Wikipedia page and automagically turns it into an audio documentary. Wikipedia 'n chill. BYO popcorn.</h3>
    <div class="sidebarInput">
      <form id="input-form" action="
        <% if config[:environment].eql?(:development) %>
          <%# http://192.168.1.102:3000/ %>
          http://192.168.1.15:3000/
        <% else %>
          https://wikiflix.herokuapp.com/
        <% end %>
        " method="post">
        <div class="sidebarInputUrl">
          <input hidden id="input-url" type="text" name="wikipedia_url" placeholder="Paste link to a Wikipedia page, get cosy, enjoy..." value="https://en.wikipedia.org/wiki/">
          <span id="random-url">
            <img src="/images/icon-shuffle.svg" alt="Random article" title="Random article">
          </span>
          <svg class="inputSpinner spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
             <circle class="spinnerPath" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </form>
    </div>
    <div class="sidebarContent wikiflix">
      <h1 id="wikiflix-title"></h1>
      <p id="wikiflix-teaser" class="wikiflixTeaser"></p>
      <div class="wikiflixMeta">
        <a id="wikipedia-url" href="" target="_blank">wikipedia.org</a>
        <!-- <span>23 minutes</span> -->
      </div>
      <div class="wikiflixControls" id="wikiflix-controls">
        <div class="controls" id="controls">
          <div class="controlsControl -primary">
            <button id="play">
              <img src="/images/icon-play.svg" alt=""> Play
            </button>
            <button id="pause">
              <img src="/images/icon-pause.svg" alt="Pause">
            </button>
            <div class="controlsLoading">
              <div class="loader">
                <svg class="loaderCircular" viewBox="25 25 50 50">
                  <circle class="loaderPath" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="controlsControl -secondary">
            <button id="randomise">
              <img src="/images/icon-dice.svg" alt="Randomise">
            </button>
          </div>
        </div>
      </div>
      <div class="wikiflixSnippets" id="snippets">
      </div>
      <p><a id="jump_to_top" href="#">Jump to top.</a></p>
    </div>
    <div class="sidebarFooter">
      <p>Wikiflix is an experiment made by <a href="https://twitter.com/damirkotoric" target="_blank">@damirkotoric</a>.</p>
    </div>
  </div>
  <div class="sidebarBackground"></div>
  <button id="playBackup" hidden></button>
  <div class="player -style-cover" id="player-background">
    <img class="playerImageForeground" src="" alt="">
    <img class="playerImageBackground" src="" alt="">
  </div>
  <div class="player -style-cover -foreground" id="player-foreground">
    <img id="player-image-foreground" class="playerImageForeground" src="" alt="">
    <img id="player-image-background" class="playerImageBackground" src="" alt="">
  </div>
</div>

<div class="modal">
  <div class="modalContent">
    <div class="subscribe" id="subscribe">
      <div class="subscribeInput">
        <h2>Work in the making</h2>
        <p>wikiflix isn't ready yet. Leave your email to find out when it goes live. You can also follow <a href="https://twitter.com/damirkotoric" target="_blank">@damirkotoric</a> on Twitter for updates.</p>
        <form class="subscribeForm" id="subscribe-form" action="index.html" method="post">
          <input id="email" type="email" name="" value="" placeholder="Email address">
          <input type="submit" name="" value="Notify me">
        </form>
        <p><small>No spam, and no selling emails to third parties.</small></p>
      </div>
      <div class="subscribeLoading">
        <div class="loader">
          <svg class="loaderCircular" viewBox="25 25 50 50">
            <circle class="loaderPath" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
          </svg>
        </div>
      </div>
      <div class="subscribeOutput">
        <p><strong>👍🏼 You'll be notified. Thanks for stopping by.</strong></p>
        <button class="button" id="subscribe-output-done" type="button" name="button">Done for now</button>
      </div>
    </div>
  </div>
  <div class="modalClose" id="modal-close">
    <img src="/images/icon-close-white.svg" alt="Close modal">
  </div>
</div>
