.controls
  background: $color_primary
  border: 2px solid $color_primary
  border-radius: 100px
  color: white
  align-items: center
  justify-content: center
  font-weight: 600
  transition: opacity 0.3s, border-radius 0.2s
  text-align: center
  line-height: 1.4
  margin: 2rem 0
  position: relative
  &:hover
    background: darken($color_primary, 4%)
    color: white
  &:active
    background: darken($color_primary, 10%)
    border: 2px solid darken($color_primary, 10%)
  &.--playing
    // border-radius: 10px
    &:hover
      background: $color_primary
    &:active
      background: $color_primary
      border: 2px solid darken($color_primary, 10%)

.controls__play, .controls__pause
  display: flex
  align-items: center
  justify-content: center

.controls__play
  padding: 1rem 2rem
  transition: opacity 0.2s
  text-align: center
  width: 100%
  .--playing &
    opacity: 0
  > img
    margin-right: 20px
    height: 20px

.controls__modify
  display: none
  align-items: center
  justify-content: center
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  .--playing &
    display: flex

.controls__pause
  opacity: 0.9
  padding: 1rem 4rem
  &:hover
    opacity: 1
  > img
    height: 20px
