.modal
  background: rgba(darken($color_primary, 50%), 0.7)
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  padding: 0 1rem
  display: none
  z-index: 10
  body.--modal-show &
    animation: fadeIn 0.3s
    display: flex
    .modal__content
      animation: scaleIn 0.3s
  body.--modal-hide &
    animation: fadeOut 0.3s
    animation-fill-mode: forwards
    display: flex
    .modal__content
      animation: scaleOut 0.3s
  &.--expanded
    .modal__more__link
      &::after
        border-bottom: 8px solid black
        border-top: none

    .modal__more__content
      display: block

  a
    color: lighten($color_primary, 15%)
    &:hover
      color: lighten($color_primary, 20%)

  small
    color: darken(white, 30%)

.modal__close
  cursor: pointer
  padding: 1rem
  position: fixed
  right: 30px
  top: 30px
  opacity: 0.8
  transition: opacity 0.3s
  user-select: none
  &:hover
    opacity: 1
  &:active
    opacity: 0.8
    transition: none

  > img
    height: 40px
    width: 40px

.modal__content
  border-radius: 10px
  margin: 3rem auto
  max-width: 700px
  overflow: hidden
  text-align: center
  padding: 2rem 1rem
  text-align: center
  +breakpoint($breakpoint-2...)
    padding: 2rem

  .button
    margin-top: 1rem

    &:first-child
      margin-top: 0

  p
    margin: 0.5rem 0

body.--modal-show
  .page
    filter: blur(40px)
