.player
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  right: 0
  z-index: 0

.player__image, .player__background
  position: absolute

.player__image
  .--style-contain &
    height: 80%
    object-fit: contain
    padding: 2rem 5rem
    right: 0
    top: 10%
    width: calc(60% + 3rem)
    z-index: 1
  .--style-cover &
    height: 100%
    object-fit: cover
    padding: 0
    width: 100%
    top: 0

.player__background
  .--style-contain &
    height: 100%
    object-fit: cover
    width: 100%
    filter: blur(10px)
    opacity: 0.5
    transform: scale(1.03)
    top: 0
  .--style-cover &
    display: none

.player__audio
  position: absolute
  z-index: 10000
