.sidebar
  color: darken(white, 10%)
  padding: 3rem 1rem 0
  position: relative
  width: 100%
  z-index: 3
  +breakpoint($breakpoint-2...)
    max-width: 50rem
    padding: 3rem
    width: 40%
  +breakpoint($breakpoint-4...)
    padding-left: 6rem

  h3
    margin-top: 0.3rem

.sidebarLogo
  color: white
  display: block
  // margin-bottom: 0.5rem
  margin-right: 20rem
  text-transform: uppercase

  h1
    margin: 0

.sidebarInput
  margin: 2rem 0 1rem

  svg
    display: none
    position: absolute
    right: 10px
    top: 0
    height: 100%
    width: 20px
    .-js-loading-item &
      display: block

  label
    display: block
    margin-top: 0.5rem
    opacity: 0.7
    line-height: 1.3

.sidebarInputUrl
  position: relative

  form
    position: relative

  span
    cursor: pointer
    display: flex
    height: 100%
    opacity: 0.8
    padding: 15px
    position: absolute
    top: 0
    right: 0
    transition: opacity 0.3s
    &:hover
      opacity: 1
    &:active
      > img
        transform: scale(0.9)
    .-js-loading-item &
      display: none

  img
    height: 100%

  input[type="text"]
    background: rgba(black, 0.5)
    color: white
    padding-right: 40px
    width: 100%
    transition: border-color 0.3s

.sidebarInputError
  background: black
  border: 1px solid lighten($color_primary, 10%)
  display: block
  padding: 5px

.sidebarContent, .sidebarFooter
  display: none
  .-js-loaded-item &
    display: block
  a
    color: lighten($color_primary, 10%)
    &:hover
      color: lighten($color_primary, 20%)
    &.button
      color: white

.sidebarContent
  margin: 4rem 0 0
  +breakpoint($breakpoint-2...)
    margin: 6rem 0

.sidebarFooter
  font-size: 0.8rem
  padding-top: 2rem

.sidebarBackground
  +breakpoint($breakpoint-2...)
    width: 60%
    pointer-events: none
    position: fixed
    top: 0
    left: 0
    height: 100%
    z-index: 2
    &::before, &::after
      content: ''
      position: absolute
      top: 0
      height: 100%
      z-index: -1
      pointer-events: none
    &::before
      background: linear-gradient(90deg, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.8) 100%)
      left: 0
      width: 40%
    &::after
      background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.8) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%)
      right: 0
      width: 60%
      opacity: 0.8
