.subscribe

.subscribeForm
  input
    margin-right: 0.5rem

.subscribeInput
  margin-bottom: 2rem
  .-loading &, .-subscribed &
    display: none

.subscribeLoading
  display: none
  margin: 0 auto
  width: 50px
  height: 50px
  .-loading &
    display: block

.subscribeOutput
  display: none
  .-subscribed &
    display: block
